---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<head>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
</head>

<body class="hidden">
    {% include navbar.html %}

    {% include profile.html %}
    
    {% include description.html %}
    
    {% include projects.html %}

    {% include scroll.html %}
    {% include toggle.html %}
    {% include footer.html %}


    <script>
        const theme = localStorage.getItem("mode");
        if (theme !== null) {
            document.body.setAttribute("theme", "dark");
        }
    </script>
</body>

</html>