<h2>Meet the Pod Members</h2>
<div class="card-container" id="Pod">
    {% for item in site.data.fellows %}
    <div class="card">
        {% if item.page-name %}
        <a href="/projects/{{ item.page-name }}">
        {% else %}
        <a>
        {% endif %}
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
        </div>
        </a>
        <div class="social_container">
            <div class="social_icon">
                <a class="link" href= {{ item.github }}>
                    <img src="./assets/img/social_icons/github.svg" />
                </a>
            </div>
            <div class="social_icon">
                <a class="link" href= {{ item.twitter }}>
                    <img src="./assets/img/social_icons/twitter.svg" />
                </a>
            </div>
            <div class="social_icon">
                <a class="link" href= {{ item.linkedin }}>
                    <img src="./assets/img/social_icons/linkedin.svg" />
                </a>
            </div>
            <div class="social_icon">
                <a class="link" href= {{ item.resume }}>
                    <img src="./assets/img/social_icons/cv.svg" />
                </a>
            </div>
        </div>
        <div class="stats-container">
            <div class="stats">
                <span class="stats-content">Commits:</span> <span class="adaptive-text">{{item.commits}}</span>
            </div>
            <div class="stats">
                <span class="stats-content">Issues:</span> <span class="adaptive-text">{{item.issues}}</span>
            </div>
            <div class="stats">
                <span class="stats-content">Reviews:</span> <span class="adaptive-text">{{item.reviews}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>