<h2>Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
        </div>
        <div class="social_container">
            <div class="social_icon">
                <img src="./assets/img/social_icons/github.svg" />
            </div>
            <div class="social_icon">
                <img src="./assets/img/social_icons/twitter.svg" />
            </div>
            <div class="social_icon">
                <img src="./assets/img/social_icons/linkedin.svg" />
            </div>
            <div class="social_icon">
                <img src="./assets/img/social_icons/cv.svg" />
            </div>
        </div>
    </div>
    {% endfor %}
</div>