<div class="footer">
    <footer>
        <div class="container">
            <ul class="footer_items">
                <li class="list-inline-item"><a href="#">Blog</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Socials</a></li>
                <li class="list-inline-item"><a href="#">Projects</a></li>
            </ul>
        </div><br><br>
        <div class="tags container">
            <div class="first">
                <h5 class="f-18 main-text">Get in Touch</h5>
                <ul class="list-inline social-icons-list pt-3 row">
                    <li class="list-inline-item col-sm">
                        <a href="https://twitter.com/MLHacks"><i class="lni lni-twitter"></i></a>
                    </li>
                    <li class="list-inline-item col-sm">
                        <a href="https://www.linkedin.com/company/major-league-hacking/"><i
                                class="lni lni-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item col-sm">
                        <a href="https://www.instagram.com/mlhacks/?hl=en"><i class="lni lni-instagram"></i></a>
                    </li>
                    <li class="list-inline-item col-sm">
                        <a href="https://www.facebook.com/MajorLeagueHacking"><i class="lni lni-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="second">
                <h5 class="f-18 main-text">Follow Us </h5>
                <ul class="list-inline social-icons-list pt-3 row">
                    <li class="list-inline-item col-sm">
                        <a href="https://www.youtube.com/c/Majorleaguehacking"><i class="lni lni-youtube"></i></a>
                    </li>
                    <li class="list-inline-item col-sm">
                        <a href="https://www.twitch.tv/mlh"><i class="lni lni-twitch"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <p class="copyright">MLH Prep © 2022</p>
    </footer>
</div>
