<nav class="nav-bar navbar navbar-expand-sm sticky-top">
    <!-- <div class="nav-content"> -->
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-links ml-auto">
                <li class="nav-item navLink">
                    <a class="nav-link" href="#Pod">Meet the Pod</a>
                </li>
                <li class="nav-item navLink">
                    <a class="nav-link" href="#Projects">Projects</a>
                </li>
                <li class="nav-item navLink">
                    <a class="nav-link" href="">Other Stuff</a>
                </li>
            </ul>
        </div>
    <!-- </div> -->
    <script>
        let navLogo = document.querySelector('.nav-logo');
        navLogo.className = "nav-logo hide"
        function myScrollFunc() {
            var scY = window.scrollY;
            if (scY > 100) {
                navLogo.className = "nav-logo show"
                navLogo.style.padding = "0.3rem 0";
            }
            else {
                navLogo.className = "nav-logo hide"
                navLogo.style.padding = "0.8rem 0";
            }
        }
        window.addEventListener("scroll", myScrollFunc);
    </script>
</nav>