<h2>Projects</h2>
<script>

  function showText(key) {
    var dots = document.getElementById("dots-" + key);
    var moreText = document.getElementById("more-" + key);
    var text = document.getElementById("textButton-" + key);
    console.log(moreText);
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      text.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      text.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
}
</script>

<div class="card-container">
    {% for item in site.data.projects %}
    <div class="card">
      {% if item.page-name %}
      <a  href="/projects/{{ item.page-name }}" onclick="handler(event)">
      {% else %}
      <a>
      {% endif %}
        <div class="project-thumbnail">
          <img class="thumb" src="./assets/img/{{ item.img }}">
          <div class="overlay">
            <p class="overlay-message">Click to read more!</p>
          </div>
        </div>
        
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="authors">By: {{item.authors}}</p>
          <p class="location">{{ item.event }}</p>
          <p class="description"><b>Description</b> {{item.description}} </p>
          <p class="dates">{{ item.date }}</p>
        </div>
      </a>
      <div>
        <button  onclick ="showText('{{item.key}}')" class ="showButton" id="textButton-{{item.key}}">Show more</button>
      </div>
    </div>
    {% endfor %}
  </div>
  