@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'scroll.scss';
@import 'darkmode';

html {
  scroll-behavior: smooth;
}

.card_anchor {
  text-decoration: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .mobile-hidden {
    display: none;
  }
}

.adaptive-text {
  color: #121212;
}

.adaptive-text-reverse {
  color: #f5f5f9;
}

.adaptive-background {
  background-color: #f5f5f9;
}

.adaptive-background-reverse {
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 2vh;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(250, 249, 249);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;

  .adaptive-theme-color {
    background-color: #2C74D8;
  }

  .adaptive-shadow {
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
  }

  .adaptive-background-transparent {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .transition-effect {
    transition: all 0.3s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  body {
    background-color: #f5f5f9;
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
  }

  .card {
body {
  background-color: #f5f5f9;
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;

  .social_container {
    display: flex;
    height: fit-content;
    width: 100%;
    // transition: box-shadow .3s;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}

  .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);

    .overlay {
      opacity: 65%;
    }
  }

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: grey;
a {
  color: black;
}

    .title .authors .location .dates {
      font-weight: bolder;
    }
  }

  .project-thumbnail {
    position: relative;
    margin-bottom: 1rem;
    width: 259px;
    height: 194px;

    .thumb {
      width: 259px;
      height: 194px;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #133667;
    }

    .overlay-message {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 20px;
      font-weight: 700;
      font-family: "Poppins", serif;
      font-style: bold;

    }

  }

  .info {

    p {
      margin-top: 5px;
      margin: 0px;
      text-align: left;
    }

    .title {
      font-size: 500;
      font-weight: bold;
    }
  .title {
    font-size: 500;
    font-weight: bold;
  }

    .authors {
      font-size: 150;
      font-weight: 250;
    }

    .location,
    .description {
      font-size: medium;
      font-weight: 400;
    }

    .dates {
      font-size: small;
      color: #404040;
    }

  }

  .icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
      width: 100%;
    }
  }
.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

// social icons styling

.social_icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  background-color: #efeeee;
  border-radius: 50%;
  align-items: center;
  margin-right: 20px;

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 300px) {
  .social_icon {
    width: 30px;
    height: 30px;
  }
}

  .showButton {
    border: none;
    padding: 15px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: medium;
    font-weight: 200;
    font-family: "Poppins", serif;
  }

  .more {
    display: none;
  }
}
.more {display: none;}
}
}