@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

body {
    background-color: #f5f5f9;
    margin-bottom: 50px;
}
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    transition: box-shadow .3s;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
}

.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  .overlay{
    opacity: 65%;
  } 
}

a {
    color: black;
}

a:hover{
  text-decoration: none;
  color: grey;
  .title .authors .location .dates{
    font-weight: bolder;
  }
}

.project-thumbnail{
  position: relative;
  margin-bottom: 1rem;
  .thumb{
    width: 259px;
    height: 194px;
  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #133667;
  }

  .overlay-message{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", serif;
    font-style: bold;
    
  }
  
}
.info {

    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
    }

    .authors{
      font-size: 150;
      font-weight: 250;
    }

    .location, .description {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: #404040;
    }

}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}

.showButton{
    border: none;
    padding: 15px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 12px;  
    font-size: medium;
    font-weight: 200;
    font-family: "Poppins", serif;
}
.more {display: none;}




