.footer {
    
  padding:40px 0px;
  background-color: #133667;
  margin-top: 60px;
  margin-bottom: -60px;
  
}

.footer ul {
 
  list-style:none;
  text-align:center;
  font-size:22px;
  font-weight: 550;
  margin-top: 10px;
  padding:0px;

}


.footer ul li a{
  color:white;
  opacity:0.7;
  text-decoration-style: none;
  text-decoration: none;
  font-family:  Helvetica, sans-serif;
 
}

.footer ul li a:hover {
  opacity:2;
  border-radius: 15px;
 

}

.section-footer {
  padding-top: 100px;
  padding-bottom: 0px;
   position: relative;
   margin-bottom: -200px!important;
   background-color: #133667;
 }

 .footer-link a {
   color: rgba(255, 255, 255, 0.726);
   line-height: 38px;
   font-size: 15px;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
   font-weight: 500;
 }

 .footer-link a:hover {
   color: #4252f9;
   text-decoration: none;
 }

 .main-text{
   color: white;
   font-weight: bold;
   font-size: larger;
 }

 .white{
   color: white;
   background-color: white;
 }
 .social-icons-list li {
   margin-bottom: .5rem;
 }

 .social-icons-list li a {
   display: inline-block;
   width: 34px;
   height: 34px;
   line-height: 34px;
   text-align: center;
   font-size: 15px;
   color: #022334;
   -webkit-transition: all 0.4s;
   transition: all 0.4s;
   
   border-radius: 50%;
 }

 .social-icons-list li a:hover {
   background-color: #4252f9;
   color: #ffffff;
 }

.tags{
  flex-direction: row;

  justify-content: space-between;
  margin-top: -40px;
  display: flex;
}

.first{
 margin-left: 60px;
}
.second{
 margin-right: 60px;
}

