$colors_of_cirlce: #133667, #ea4820, #ffec1e, #39ce43, #f5f8f9, #ff1379;

.loader-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  z-index: 30000;
  border: 2px solid #f5f5f9;
  background: #f5f5f9;

  .heading{
      
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left:1%;
    font-size: 150px;
    margin-top: 20px;

  }
  .loader {
    position: absolute;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
  }
  .loader {
    .circle {
      width: 24px;
      height: 24px;
      display: inline-block;
      background: #ffffff;
      border-radius: 50%;
      animation: scale 2s infinite;

      @for $int from 1 through length($colors_of_cirlce) {
        &:nth-child(#{length($colors_of_cirlce)}n + #{$int}) {
          background: nth($colors_of_cirlce, $int);
          animation-delay: 0.1s * $int;
        }
      }
    }
  }
}

.loading .loader-container {
  visibility: hidden;
  transition: all 0.4s 1s ease-out;
  transform: translateY(-100%);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
