.profile {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), black), no-repeat center/100% url('/assets/img/background.jpg'), #8cc6df;
    text-align: center;
    height: 520px;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    
    img {
        border-radius: 50%;
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
        display: inline;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 0 0;
    }
}
